@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightblue;
 

}

header {
  
    padding: 10px;
    margin: 10px;




}

header > h1 {
    color: white;
    padding: 10px;
    text-align: center;
}

i#burguer {
    background-color:  rgba(31, 175, 175, 0.658);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: white;
    color: black;
}


menu {
 
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
    text-align: center;
    display: none;

}

menu > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
    
}

menu > ul {
    list-style-type: none;
}



menu > ul > li > a:hover {
    text-decoration: underline;
}

main {
    width: 90vw;

    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}

